/* #one{
    background-color: black;
    color: white;
    display: inline-block;
    padding: 10px;
    margin-right: 15px;
}
#two{
    background-color: black;
    color: white;
    display: inline;
     padding: 10px;
    margin-right: 15px;
}
#three{
    background-color: black;
    color: white;
    display: inline; 
     padding: 10px;
    margin-right: 15px;

} */

/* nav{
    background-color: black;
    color: white;
   padding: 10px;
}

li,h1,ul{
    display: inline;
}

ul{
    margin-left: 1100px;
} */

nav{
    background-color: black;
    color: white;
    padding: 20px;
}
ul,h1,li{
    display: inline;
    
}
ul{
    margin-left: 60%;
}
li{
    color: gray;
    cursor: pointer;
}
li:hover{
    color: white;
}
input{
     width: 500px;
     padding: 15px;

}
.searchbar{
    text-align: center;
    padding: 50px;
 
}
.Box{
    border-width: 200px;
    width: 400px;
    /* height:400px ; */
    border-color: black;
    border: 2px;
    border-style: solid;
    display: inline-block;
}
.Box:hover{
    background-color: black;
    color: white;
}

.Product{
    text-align: center;
}

.About{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}

.Cantact{
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
}

#gray{
    color: gray;
    padding: 20px;
}

