#header{
    background-color: black;
    color: white;
    width: 90%;
    height: 50px;
    padding: 20px;
    text-align: center;
    border-radius: 50px;
    border: 3px;
    border-width:90%;
    border-color: aqua;
    border-style: solid;
}

.one{
   margin: 100px;
   
}

#color{
    background-color:pink; 
    color: white;
}
#input{
    height: 25px;
    width: 300px;
}
